## IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd

## READING DATA

In [2]:
data = pd.read_csv(r"C:\Users\TARUN REDDY\Desktop\EXTERNSHIP\kidney_disease.csv")

In [3]:
data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

## REMOVING UNNECESSARY COLUMNS

In [4]:
data.drop(["id"],axis=1,inplace=True)

In [5]:
data.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [52]:
data.columns=['age','blood_pressure','specific_gravity','albumin','sugar','red_blood_cells',
             'pus_cell','pus_cell_clumps','bacteria','blood_glucose_random','blood_urea',
             'serum_creatinine','sodium','potassium','hemoglobin','packed_cell_volume',
             'white_blood_cell_count','red_blood_cell_count','hypertension',
             'diabetesmellitus','coronary_artery_disease','appetite','pedal_edema','anemia','class']

In [53]:
data

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetesmellitus,coronary_artery_disease,appetite,pedal_edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.000000,...,47.0,6700.0,4.900000,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.000000,...,54.0,7800.0,6.200000,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,49.0,6600.0,5.400000,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.000000,...,51.0,7200.0,5.900000,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.000000,...,53.0,6800.0,6.100000,no,no,no,good,no,no,notckd

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      391 non-null    float64
 1   blood_pressure           400 non-null    float64
 2   specific_gravity         353 non-null    float64
 3   albumin                  354 non-null    float64
 4   sugar                    351 non-null    float64
 5   red_blood_cells          248 non-null    object
 6   pus_cell                 335 non-null    object
 7   pus_cell_clumps          396 non-null    object
 8   bacteria                 396 non-null    object
 9   blood_glucose_random     400 non-null    float64
 10  blood_urea               400 non-null    float64
 11  serum_creatinine         400 non-null    float64
 12  sodium                   400 non-null    float64
 13  potassium                400 non-null    float64
 14  hemoglobin               400 non-null    float64
 15  packed_cell_volume       400 non-null    float64
 16  white_blood_cell_count   400 non-null    float64
 17  red_blood_cell_count     400 non-null    float64
 18  hypertension             398 non-null    object
 19  diabetesmellitus         398 non-null    object
 20  coronary_artery_disease  398 non-null    object
 21  appetite                 399 non-null    object
 22  pedal_edema              399 non-null    object
 23  anemia                   399 non-null    object
 24  class                    400 non-null    object
dtypes: float64(14), object(11)
memory usage: 78.2+ KB

In [55]:
data['class'].unique()

array(['ckd', 'notckd'], dtype=object)

In [56]:
data['class']=data['class'].replace('ckd\t','ckd')

In [57]:
data['class'].unique()

array(['ckd', 'notckd'], dtype=object)

In [58]:
catcols=set(data.dtypes[data.dtypes=='O'].index.values)

In [59]:
print(catcols)

{'hypertension', 'pus_cell', 'appetite', 'red_blood_cells', 'diabetesmellitus', 'pedal_edema', 'bacteria', 'pus_cell_clumps', 'class', 'anemia', 'coronary_artery_disease'}

In [60]:
for i in catcols:
    print("columns:",i)
    print((data[i]))
    print('*'*120+ '\n')

columns: hypertension
0      yes
1       no
2       no
3      yes
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: hypertension, Length: 400, dtype: object
************************************************************************************************************************

columns: pus_cell
0        normal
1        normal
2        normal
3      abnormal
4        normal
         ...
395      normal
396      normal
397      normal
398      normal
399      normal
Name: pus_cell, Length: 400, dtype: object
************************************************************************************************************************

columns: appetite
0      good
1      good
2      poor
3      poor
4      good
       ...
395    good
396    good
397    good
398    good
399    good
Name: appetite, Length: 400, dtype: object
************************************************************************************************************************

columns: red_blood_cells
0         NaN
1         NaN
2      normal
3      normal
4      normal
        ...
395    normal
396    normal
397    normal
398    normal
399    normal
Name: red_blood_cells, Length: 400, dtype: object
************************************************************************************************************************

columns: diabetesmellitus
0      yes
1       no
2      yes
3       no
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: diabetesmellitus, Length: 400, dtype: object
************************************************************************************************************************

columns: pedal_edema
0       no
1       no
2       no
3      yes
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: pedal_edema, Length: 400, dtype: object
************************************************************************************************************************

columns: bacteria
0      notpresent
1      notpresent
2      notpresent
3      notpresent
4      notpresent
          ...
395    notpresent
396    notpresent
397    notpresent
398    notpresent
399    notpresent
Name: bacteria, Length: 400, dtype: object
************************************************************************************************************************

columns: pus_cell_clumps
0      notpresent
1      notpresent
2      notpresent
3         present
4      notpresent
          ...
395    notpresent
396    notpresent
397    notpresent
398    notpresent
399    notpresent
Name: pus_cell_clumps, Length: 400, dtype: object
************************************************************************************************************************

columns: class
0         ckd
1         ckd
2         ckd
3         ckd
4         ckd
        ...
395    notckd
396    notckd
397    notckd
398    notckd
399    notckd
Name: class, Length: 400, dtype: object
************************************************************************************************************************

columns: anemia
0       no
1       no
2      yes
3      yes
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: anemia, Length: 400, dtype: object
************************************************************************************************************************

columns: coronary_artery_disease
0      no
1      no
2      no
3      no
4      no
       ..
395    no
396    no
397    no
398    no
399    no
Name: coronary_artery_disease, Length: 400, dtype: object
************************************************************************************************************************

In [68]:
catcols.remove('red_blood_cell_count')
catcols.remove('white_blood_cell_count')
catcols.remove('packed_cell_volume')

KeyError: 'red_blood_cell_count'

In [69]:
catcols

{'anemia',
 'appetite',
 'bacteria',
 'class',
 'coronary_artery_disease',
 'diabetesmellitus',
 'hypertension',
 'pedal_edema',
 'pus_cell',
 'pus_cell_clumps',
 'red_blood_cells'}

In [70]:
contcols=set(data.dtypes[data.dtypes!='O'].index.values)

In [71]:
print(contcols)

{'specific_gravity', 'packed_cell_volume', 'serum_creatinine', 'albumin', 'blood_glucose_random', 'blood_urea', 'sodium', 'blood_pressure', 'potassium', 'white_blood_cell_count', 'sugar', 'age', 'hemoglobin', 'red_blood_cell_count'}

In [72]:
for i in contcols:
    print("continous columns:",i)
    print((data[i]))
    print('*'*120+ '\n')

continous columns: specific_gravity
0      1.020
1      1.020
2      1.010
3      1.005
4      1.010
       ...
395    1.020
396    1.025
397    1.020
398    1.025
399    1.025
Name: specific_gravity, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: packed_cell_volume
0      44.0
1      38.0
2      31.0
3      32.0
4      35.0
       ...
395    47.0
396    54.0
397    49.0
398    51.0
399    53.0
Name: packed_cell_volume, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: serum_creatinine
0      1.2
1      0.8
2      1.8
3      3.8
4      1.4
      ...
395    0.5
396    1.2
397    0.6
398    1.0
399    1.1
Name: serum_creatinine, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: albumin
0      1.0
1      4.0
2      2.0
3      4.0
4      2.0
      ...
395    0.0
396    0.0
397    0.0
398    0.0
399    0.0
Name: albumin, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: blood_glucose_random
0      121.000000
1      148.036517
2      423.000000
3      117.000000
4      106.000000
          ...
395    140.000000
396     75.000000
397    100.000000
398    114.000000
399    131.000000
Name: blood_glucose_random, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: blood_urea
0      36.0
1      18.0
2      53.0
3      56.0
4      26.0
       ...
395    49.0
396    31.0
397    26.0
398    50.0
399    18.0
Name: blood_urea, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: sodium
0      137.528754
1      137.528754
2      137.528754
3      111.000000
4      137.528754
          ...
395    150.000000
396    141.000000
397    137.000000
398    135.000000
399    141.000000
Name: sodium, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: blood_pressure
0      80.0
1      50.0
2      80.0
3      70.0
4      80.0
       ...
395    80.0
396    70.0
397    80.0
398    60.0
399    80.0
Name: blood_pressure, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: potassium
0      4.627244
1      4.627244
2      4.627244
3      2.500000
4      4.627244
         ...
395    4.900000
396    3.500000
397    4.400000
398    4.900000
399    3.500000
Name: potassium, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: white_blood_cell_count
0      7800.0
1      6000.0
2      7500.0
3      6700.0
4      7300.0
        ...
395    6700.0
396    7800.0
397    6600.0
398    7200.0
399    6800.0
Name: white_blood_cell_count, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: sugar
0      0.0
1      0.0
2      3.0
3      0.0
4      0.0
      ...
395    0.0
396    0.0
397    0.0
398    0.0
399    0.0
Name: sugar, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: age
0      48.0
1       7.0
2      62.0
3      48.0
4      51.0
       ...
395    55.0
396    42.0
397    12.0
398    17.0
399    58.0
Name: age, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: hemoglobin
0      15.4
1      11.3
2       9.6
3      11.2
4      11.6
       ...
395    15.7
396    16.5
397    15.8
398    14.2
399    15.8
Name: hemoglobin, Length: 400, dtype: float64
************************************************************************************************************************

continous columns: red_blood_cell_count
0      5.200000
1      4.707435
2      4.707435
3      3.900000
4      4.600000
         ...
395    4.900000
396    6.200000
397    5.400000
398    5.900000
399    6.100000
Name: red_blood_cell_count, Length: 400, dtype: float64
************************************************************************************************************************

In [73]:
contcols.remove('specific_gravity')
contcols.remove('albumin')
contcols.remove('sugar')

In [74]:
contcols

{'age',
 'blood_glucose_random',
 'blood_pressure',
 'blood_urea',
 'hemoglobin',
 'packed_cell_volume',
 'potassium',
 'red_blood_cell_count',
 'serum_creatinine',
 'sodium',
 'white_blood_cell_count'}

In [75]:
contcols.add('red_blood_cell_count')
contcols.add('white_blood_cell_count')
contcols.add('packed_cell_volume')

In [76]:
contcols

{'age',
 'blood_glucose_random',
 'blood_pressure',
 'blood_urea',
 'hemoglobin',
 'packed_cell_volume',
 'potassium',
 'red_blood_cell_count',
 'serum_creatinine',
 'sodium',
 'white_blood_cell_count'}

In [77]:
catcols.add('specific_gravity')
catcols.add('albumin')
catcols.add('sugar')

In [78]:
catcols

{'albumin',
 'anemia',
 'appetite',
 'bacteria',
 'class',
 'coronary_artery_disease',
 'diabetesmellitus',
 'hypertension',
 'pedal_edema',
 'pus_cell',
 'pus_cell_clumps',
 'red_blood_cells',
 'specific_gravity',
 'sugar'}

In [79]:
data.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetesmellitus,coronary_artery_disease,appetite,pedal_edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd

In [80]:
data['coronary_artery_disease']=data.coronary_artery_disease.replace('\tno','no')

In [81]:
data['coronary_artery_disease'].unique()

array(['no', 'yes', nan], dtype=object)

In [82]:
data['diabetesmellitus']=data.diabetesmellitus.replace(to_replace={'\tno':'no','\tyes':'yes',' yes':'yes'})

In [83]:
data['diabetesmellitus'].unique()

array(['yes', 'no', nan], dtype=object)

In [84]:
data.isnull().any()

age                         True
blood_pressure             False
specific_gravity            True
albumin                     True
sugar                       True
red_blood_cells             True
pus_cell                    True
pus_cell_clumps             True
bacteria                    True
blood_glucose_random       False
blood_urea                 False
serum_creatinine           False
sodium                     False
potassium                  False
hemoglobin                 False
packed_cell_volume         False
white_blood_cell_count     False
red_blood_cell_count       False
hypertension                True
diabetesmellitus            True
coronary_artery_disease     True
appetite                    True
pedal_edema                 True
anemia                      True
class                      False
dtype: bool

In [85]:
data.isnull().sum()

age                          9
blood_pressure               0
specific_gravity            47
albumin                     46
sugar                       49
red_blood_cells            152
pus_cell                    65
pus_cell_clumps              4
bacteria                     4
blood_glucose_random         0
blood_urea                   0
serum_creatinine             0
sodium                       0
potassium                    0
hemoglobin                   0
packed_cell_volume           0
white_blood_cell_count       0
red_blood_cell_count         0
hypertension                 2
diabetesmellitus             2
coronary_artery_disease      2
appetite                     1
pedal_edema                  1
anemia                       1
class                        0
dtype: int64

In [86]:
data.packed_cell_volume=pd.to_numeric(data.packed_cell_volume,errors='coerce')
data.white_blood_cell_count=pd.to_numeric(data.white_blood_cell_count,errors='coerce')
data.red_blood_cell_count=pd.to_numeric(data.red_blood_cell_count,errors='coerce')

## HANDLING MISSING VALUES

In [88]:
data['blood_glucose_random'].fillna(data['blood_glucose_random'].mean(),inplace=True)
data['blood_pressure'].fillna(data['blood_pressure'].mean(),inplace=True)
data['blood_urea'].fillna(data['blood_urea'].mean(),inplace=True)
data['hemoglobin'].fillna(data['hemoglobin'].mean(),inplace=True)
data['packed_cell_volume'].fillna(data['packed_cell_volume'].mean(),inplace=True)
data['potassium'].fillna(data['potassium'].mean(),inplace=True)
data['red_blood_cell_count'].fillna(data['red_blood_cell_count'].mean(),inplace=True)
data['serum_creatinine'].fillna(data['serum_creatinine'].mean(),inplace=True)
data['sodium'].fillna(data['sodium'].mean(),inplace=True)
data['white_blood_cell_count'].fillna(data['white_blood_cell_count'].mean(),inplace=True)

In [89]:
data['age'].fillna(data['age'].mode()[0],inplace=True)
data['hypertension'].fillna(data['hypertension'].mode()[0],inplace=True)
data['pus_cell_clumps'].fillna(data['pus_cell_clumps'].mode()[0],inplace=True)
data['appetite'].fillna(data['appetite'].mode()[0],inplace=True)
data['albumin'].fillna(data['albumin'].mode()[0],inplace=True)
data['pus_cell'].fillna(data['pus_cell'].mode()[0],inplace=True)
data['red_blood_cells'].fillna(data['red_blood_cells'].mode()[0],inplace=True)
data['coronary_artery_disease'].fillna(data['coronary_artery_disease'].mode()[0],inplace=True)
data['bacteria'].fillna(data['bacteria'].mode()[0],inplace=True)
data['anemia'].fillna(data['anemia'].mode()[0],inplace=True)
data['sugar'].fillna(data['sugar'].mode()[0],inplace=True)
data['diabetesmellitus'].fillna(data['diabetesmellitus'].mode()[0],inplace=True)
data['pedal_edema'].fillna(data['pedal_edema'].mode()[0],inplace=True)
data['specific_gravity'].fillna(data['specific_gravity'].mode()[0],inplace=True)

In [91]:
data.isnull().sum()

age                        0
blood_pressure             0
specific_gravity           0
albumin                    0
sugar                      0
red_blood_cells            0
pus_cell                   0
pus_cell_clumps            0
bacteria                   0
blood_glucose_random       0
blood_urea                 0
serum_creatinine           0
sodium                     0
potassium                  0
hemoglobin                 0
packed_cell_volume         0
white_blood_cell_count     0
red_blood_cell_count       0
hypertension               0
diabetesmellitus           0
coronary_artery_disease    0
appetite                   0
pedal_edema                0
anemia                     0
class                      0
dtype: int64

In [93]:
from sklearn.preprocessing import LabelEncoder

In [96]:
for i in catcols:
    print("LABEL ENCODIND OF:",i)
    LEi = LabelEncoder()
    print(data[i])
    data[i]=LEi.fit_transform(data[i])
    print(data[i])
    print("*"*100)

LABEL ENCODIND OF: hypertension
0      1
1      0
2      0
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: hypertension, Length: 400, dtype: int32
0      1
1      0
2      0
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: hypertension, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: specific_gravity
0      3
1      3
2      1
3      0
4      1
      ..
395    3
396    4
397    3
398    4
399    4
Name: specific_gravity, Length: 400, dtype: int64
0      3
1      3
2      1
3      0
4      1
      ..
395    3
396    4
397    3
398    4
399    4
Name: specific_gravity, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: pus_cell
0      1
1      1
2      1
3      0
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: pus_cell, Length: 400, dtype: int32
0      1
1      1
2      1
3      0
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: pus_cell, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: albumin
0      1
1      4
2      2
3      4
4      2
      ..
395    0
396    0
397    0
398    0
399    0
Name: albumin, Length: 400, dtype: int64
0      1
1      4
2      2
3      4
4      2
      ..
395    0
396    0
397    0
398    0
399    0
Name: albumin, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: appetite
0      0
1      0
2      1
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: appetite, Length: 400, dtype: int32
0      0
1      0
2      1
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: appetite, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: red_blood_cells
0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: red_blood_cells, Length: 400, dtype: int32
0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: red_blood_cells, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: diabetesmellitus
0      1
1      0
2      1
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: diabetesmellitus, Length: 400, dtype: int32
0      1
1      0
2      1
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: diabetesmellitus, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: pedal_edema
0      0
1      0
2      0
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: pedal_edema, Length: 400, dtype: int32
0      0
1      0
2      0
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: pedal_edema, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: sugar
0      0
1      0
2      3
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: sugar, Length: 400, dtype: int64
0      0
1      0
2      3
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: sugar, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: bacteria
0      0
1      0
2      0
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: bacteria, Length: 400, dtype: int32
0      0
1      0
2      0
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: bacteria, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: pus_cell_clumps
0      0
1      0
2      0
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: pus_cell_clumps, Length: 400, dtype: int32
0      0
1      0
2      0
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: pus_cell_clumps, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: class
0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: class, Length: 400, dtype: int32
0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: class, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: anemia
0      0
1      0
2      1
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: anemia, Length: 400, dtype: int32
0      0
1      0
2      1
3      1
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: anemia, Length: 400, dtype: int64
****************************************************************************************************
LABEL ENCODIND OF: coronary_artery_disease
0      0
1      0
2      0
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: coronary_artery_disease, Length: 400, dtype: int32
0      0
1      0
2      0
3      0
4      0
      ..
395    0
396    0
397    0
398    0
399    0
Name: coronary_artery_disease, Length: 400, dtype: int64
****************************************************************************************************

In [97]:
selcols=['red_blood_cells','pus_cell','diabetesmellitus','pedal_edema',
         'anemia','coronary_artery_disease','blood_glucose_random','blood_urea']
x=pd.DataFrame(data,columns=selcols)
y=pd.DataFrame(data,columns=['class'])
print(x.shape)
print(y.shape)

(400, 8)
(400, 1)

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(320, 8)
(320, 1)
(80, 8)
(80, 1)

In [101]:
from sklearn.linear_model import LogisticRegression

In [102]:
lgr= LogisticRegression()
lgr.fit(x_train,y_train)

D:\PYTHON\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\PYTHON\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [103]:
y_pred=lgr.predict(x_test)

In [106]:
y_pred1=lgr.predict([[129,99,1,0,0,1,0,1]])
print(y_pred)
y_pred

[0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 1 0 1 1 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1
 0 0 1 0 1 0 0 0 1 0 1 1 1 0 0 0 1 0 1 0 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 1
 0 1 0 1 1 0]

D:\PYTHON\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0], dtype=int64)

In [110]:
from sklearn.metrics import accuracy_score

In [111]:
accuracy_score(y_test,y_pred)

0.925

In [116]:
from sklearn.metrics import confusion_matrix

In [118]:
conf_mat = confusion_matrix(y_test,y_pred)
conf_mat

array([[48,  6],
       [ 0, 26]], dtype=int64)

In [124]:
import pickle

In [126]:
pickle.dump(lgr, open('CKD.pkl','wb'))